
@font-face {
    font-family: "Netflix Sans";
    src: url(Fontes/NetflixSans-Bold.otf) format(opentype);
    font-size: 2em;
}
@font-face {
    font-family: "Netflix Sans Regular";
    src: url(Fontes/NetflixSans-Regular.otf) format(opentype);
    font-size: 2em
}
@font-face {
    font-family: "Netflix Sans light";
    src: url(Fontes/NetflixSans-Light.otf) format(opentype);
}
@font-face {
    font-family: "Netflix logo";
    src: url(Fontes/BebasNeue-Regular.otf);
}
:root {
    --cor_fundo: #141414;
    --cor_letras: #b4b4b4;
    --cor_h1: #ffffff;
    --cor_logo: #e70000;
    --fonte-padrão: "Netflix Sans light", "Netflix Sans Regular", Arial;
    --fonte_logo:"Netflix logo" ;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor_fundo);
    font-family: var(--fonte-padrão);
    padding: 0px 15px 0px 15px;
    min-width: 300px;
}
nav{
    top: 0px;
    height: auto;
    background-color: var(--cor_fundo);
    padding: 15px;
}
.navbar{
    position: sticky;
    top: 0; 
}
nav > a{
    color: var(--cor_letras);
    text-decoration: none;
    padding: 10px;
}
.logo{
    font-family: var(--fonte_logo);
    color: var(--cor_logo);
    font-size: 2em;
}
.lista{
    display: flex;
    list-style-type: none;
    justify-content: center;
    overflow-x: auto;
    overscroll-behavior-inline: auto;
}
section{
    padding: 10px 0px 10px 0px;
}
.caixa_filme{
    margin: 0;
    height: auto;
    margin-right: -25px;
    padding: 5px;
}
.filme{
    width: 80%;
    border-radius: 15px;
}
h2{
    color: var(--cor_h1);
}
.conteiner{
    max-width: 700px;
    background-color: #e70000;
    margin-left: auto;
    margin-right: auto;
}
.trailer{
    width: 100%;
    position: relative;
    height: auto;
    padding: auto;
}
.trailer > iframe{
    width: 100%;
    max-height: 350px;
    height: 315px;
    min-height: 150px;
}
.listatop{
    display: flex;
    list-style-type: none;
    justify-content: center;
    overflow-x: auto;
    overscroll-behavior-inline: auto;
    min-height: 200px;
}
.caixa_filmetop{
    margin: auto;
    min-width: 180px;
    max-width: 300px;
    min-height: 200px;
    max-height: 300px;
    padding: 0;
}
.filmetop{
    width: 100%;
    border-radius: 15px;
}


.dudinha{
    text-align: center;
}
